Source: harmonycart
Section: games
Priority: optional
Maintainer: Stephen Anthony <sa666666@gmail.com>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5.0.0), libqt5-dev

Package: harmonycart
Architecture: any
Depends: ${shlibs:Depends}
Description: Harmony Cartridge programming tool for Linux/OSX/Windows.
 The Harmony cartridge is a programmable add-on for the Atari 2600 console
 that allows you to load an entire library of games into a single cartridge
 and then select which title you want to play from a friendly, on-screen
 menu interface.  It features an SD card interface, making it simple to
 access the large library of Atari 2600 software.  The Harmony cartridge
 supports almost all of the titles that have been produced for the Atari
 2600.  It can also be used to run your own Atari 2600 game creations on a
 real console.  The Harmony cartridge is flash-upgradeable, and will be
 updated to support future Atari 2600 developments.

 The Harmony Programming Tool is a cross-platform application used to
 program the Harmony Cartridge.  Both GUI and commandline usage is
 supported.

  Homepage: http://harmony.atariage.com
